  <div>
    <%= label_tag("Full Name") %>
    <%= text_field_tag(:name, @profile.name) %>
  </div>
  <%# carrier wave thing for profile img %>
  <div>
    <%= label_tag(:description) %>
    <%= text_field_tag(:description, @profile.description) %>
  </div>
  <b>Your Address:</b>
  <div>
    <%= label_tag(:street) %>
    <%= text_field_tag(:street, @profile.street) %>
    <%= label_tag(:city) %>
    <%= text_field_tag(:city, @profile.city) %>
    <%= label_tag(:state) %>
    <%= text_field_tag(:state, @profile.state) %>
    <%= label_tag(:zipcode) %>
    <%= text_field_tag(:zipcode, @profile.zipcode) %>
  </div>
