<div class="space-80"></div>
<div class="container">
  <div class="space-80"></div>
  <h1 style="color:black;">
    Here's Your Profile!
  </h1>
  <h3>
    <%= @profile.name %>
  </h3>
  <img src="<%= @profile.photo.url %>" alt="">
  <h3>
    <%= @profile.description %>
  </h3>
  <h3>
    <%= @profile.address %> <%= @profile.zipcode %>
  </h3>
    <%= link_to 'Edit your profile',
                "/profile/edit/#{@profile.id}",
                class: 'btn btn-primary btn-lg',
                  style: 'color:#FFF;' %>
</div>
