  <div>
    <%= label_tag(:name) %>
    <%= text_field_tag(:name) %>
  </div>
  <div>
    <%= label_tag(:description) %>
    <%= text_field_tag(:description, 'should be a text box') %>
  </div>
  <div>
    <%= label_tag(:donation_goal) %>
    <%= text_field_tag(:donation_goal) %>
  </div>
  <div>
    <%= label_tag(:start_date) %>
    <%= text_field_tag(:start_date) %>
    <%= label_tag(:end_date) %>
    <%= text_field_tag(:end_date) %>
  </div>
