<h1>Here are the current programs!</h1>
<% @programs.all.each do |program| %>
<%= link_to "#{program.name}", "/programs/#{program.id}"  %>
<ul>
  <li><%= program.address %>, <%= program.zipcode %></li>
  <li><%= program.description %></li>
  <% if program.donation_goal.to_i != 0 || program.total_donated.to_i != 0 %>
  <li>Donation Goal: $<%= program.donation_goal.to_f %></li>
  <li>Total Donated: <%= program.total_donated.to_f %></li>
  <% end %>
  <li>Start Date: <%= program.start_date.to_date %></li>
  <li>End Date: <%= program.end_date.to_date %></li>
  <a class="btn" href="#">
    <i class="fa fa-heart-o"></i>Support
  </a>
</ul>
<% end %>
