<h1>Name: <%= @program.name %></h1>
Description: <%= @program.description %>
<br>
How much we need: $<%= @program.donation_goal %>
<br>
How much we've received: $<%= @program.total_donated %>
<br>
Start date of the program: <%= @program.start_date %>
<br>
End date of the program: <%= @program.end_date %>
<br>
<%= link_to "Edit the program", "/programs/#{@program.id}/edit" %>
