<h1>Sign up here</h1>
<%= form_tag('/users', method: 'post') do %>
  <div>
    <%= label_tag(:email) %>
    <%= text_field_tag(:email) %>
  </div>
  <div>
    <%= label_tag('Email confirmation') %>
    <%= text_field_tag(:email_confirmation) %>
  </div>
  <div>
    <%= label_tag(:password) %>
    <%= password_field_tag(:password) %>
  </div>
  <div>
    <%= label_tag(:password_confirmation) %>
    <%= password_field_tag(:password_confirmation) %>
  </div>
  <div>
    <%= label_tag(:resident, "Resident") %>
    <%= radio_button_tag(:resident, true) %>
    <%= label_tag(:resident, "Nonprofit") %>
    <%= radio_button_tag(:resident, false) %>
  </div>
  <%= submit_tag("Submit") %>
<% end %>
