<!DOCTYPE html>
<html>
<head>
  <title>Helperhood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="app">
  <header class="header-v1">
  <nav class="navbar navbar-default navbar-sticky navbar-static-top yamm">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <%= image_tag('logo-light.png', alt: 'logo', class: 'logo-default') %>
                <%= image_tag('logo-dark.png', alt: 'logo', class: 'logo-scroll') %>
              </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programs<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/programs">Current Programs</a></li>
                          <% if current_user.nil? == false && current_user.resident == false %>
                          <li><a href="/np-programs">Your Programs</a></li>
                          <li><a href="/programs/new">List a New Program</a></li>
                          <% end %>
                          <% unless current_user.nil? || current_user.resident == false %>
                          <li><a href="/my-programs">Your Programs</a></li>
                          <% end %>
                          <li><a href="/programs/map">Current Programs: Map View</a></li>
                        </ul>
                    </li>

                  <% unless current_user %>
                    <li><%= link_to 'Login', "/login", method: 'get' %></li>
                    <li><%= link_to 'Create an account', "/signup", method: 'get' %></li>
                  <% end %>
                  <% if current_user %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Profile', "/profile", method: 'get' %></li>
                      <li role="separator" class="divider"></li>
                        <% if current_user %>
                          <li><%= link_to "Logout", "/logout", method: 'delete' %></li>
                        <% else %>
                          <li><%= link_to 'Login', "/login", method: 'get' %></li>
                        <% end %>
                      <% end %>
              </ul>
          </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
  </nav>




  <% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
    <% if message.is_a?(Array) %>
    <ul>
      <% message.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% else %>
      <h5><%= message %></h5>
    <% end %>
  </div>
  <% end %>

<%= yield %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</header>

</body>

</html>
